{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!--    <link rel="stylesheet" href="css.css">-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>calculator</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #000000;">
    <a class="navbar-brand" href="#" style="color: white;">A seemingly expensive meme scraper</a>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>//-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid" style="margin-bottom: 20rem;">
    <div class="row">
        <div class="col-md-6" style="margin: 1rem auto 0 auto;">
            <img class="img-fluid" style="margin-top: 60px" src="{% static 'apple.png' %}">
            <div class="card">
                <!--<form method="POST" enctype="multipart/form-data" action="{% url 'image_upload_view'%}">
                    Please specify a file, or a set of files:
                    <input type="file" name="image">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Upload</button>-->
                </form>
                <form method="POST" enctype="multipart/form-data" action="{% url 'scrape'%}">
                    <pre></pre>
                    Please input the first date of scraping:
                    <input type="date" id="input_date" name="input_date">

                    <pre></pre>
                    Please input the number of days the scrape will be done:
                    <label for="input_days">Upto 1-7 days:</label>
                    <input type="number" id="input_days" name="input_days" min="1" max="7">

                    <pre></pre>
                    Please choose a picture as your meme template:
                    <input type="file" name="image">
                    {% csrf_token %}
                    <!--{{ form.as_p }}-->

                    <pre></pre>
                    Accuracy threshold:
                    <label for="percent">Upto 1%-100%:</label>
                    <input type="number" id="percent" name="percent" min="1" max="100">

<!--                    <pre></pre>-->
<!--                    Allow higher test accuracy methods:-->
<!--                    <label for="allow">*This task will take a while to accomplish</label>-->
<!--                    <input type="checkbox" id="allow" name="allow">-->

                    <pre></pre>
                    <button type="reset">Reset</button>
                    <button type="submit">Scrape</button>
                    </row>

                </form>
                {% if img_obj %}
                <h3>Successfully uploaded : {{img_obj}}</h3>
                <img src="../storeimg/1.jpg" alt="connect">
                {% endif %}
                <!--<div class="card-body">
                    <form method="GET" action="{% url 'submitquery'%}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="query" , id="query">
                        </div>
                        <div class="row">
                            <input type="submit" class="btn btn-primary" style="margin-left:auto;margin-right:auto">
                        </div>
                    </form>
                </div>-->
            </div>
            <!--<div>
                <form method="POST" enctype="multipart/form-data" action="{% url 'test'%}">
                    <pre></pre>
                    Please input the first date of scraping:
                    <input type="date" id="idate" name="idate">

                    <pre></pre>
                    Please input the number of days the scrape will be done:
                    <label for="input_days">Upto 1-7 days:</label>
                    <input type="number" id="idays" name="idays" min="1" max="7">

                    <pre></pre>
                    Please choose a picture as your meme template:
                    <input type="file" name="image">
                    {% csrf_token %}

                    <pre></pre>
                    Accuracy threshold:
                    <label for="per">Upto 1%-100%:</label>
                    <input type="number" id="per" name="per" min="1" max="100">

                    <pre></pre>
                    Allow higher test accuracy methods:
                    <label for="option">*This task will take a while to accomplish</label>
                    <input type="checkbox" id="option" name="option">

                    <pre></pre>
                    <button name="test" class="btn btn-primary" style="margin-left:auto;margin-right:auto"
                            onclick="location.href='{% url 'test' %}' ">test
                    </button>
                </form>

            </div>-->

        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="margin: 0 auto;"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <footer class="fixed-bottom navbar-light" style="background: black;">
            <div style="color: white;">
                <p>Brought to you by: a truly directionless group of inexperienced programmers </p>
            </div>
        </footer>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>